head
  title NewsEST
  link(href='/css/bootstrap.min.css', rel='stylesheet')

  div.container
    div(class="jumbotron" style="margin-top: 10px")
      h1.display-4 NewsEST
      p.lead Extração Automática de Informação
