div.container
  ul(class="nav nav-tabs nav-fill")
    li.nav-item
      a(class="nav-link" href="/") Home
    li.nav-item
      a(class="nav-link" href="/training-set") Training Set
    li.nav-item
      a(class="nav-link" href="/preprocessing") Preprocessing
    li.nav-item
      a(class="nav-link" href="/test") Test
