doctype html
meta(name="viewport" content="width=device-width, initial-scale=1")
html(lang='en')
  include includes/head.pug
  include includes/nav.pug

  body
    div(class="container" style="margin-top: 20px")

      div(style="overflow-y: auto;")
        table(class="table table-bordered table-sm table-hover")
          thead.thead-dark
            th(style="position: sticky; top: 0") ID
            th(style="position: sticky; top: 0") Category
            th(style="position: sticky; top: 0") Short Description
          tbody
            each val in trainingSetData
              tr
                td=val.corpus_id
                td=val.category
                td=val.short_description

    include includes/footer.pug
