<!--doctype html
html(lang='en')

  head
    title NewsEST
    link(href='/css/bootstrap.min.css', rel='stylesheet')
  body

  div(class="jumbotron text-center")
    h1 NewsEST
    p Projeto de Extração Automática de Informação

  div.container
    div.row
      div.col-xs-12
      div.table-responsive
        h3 Corpus
        table(style='width:100%', border='1', max-height='50%')
          thead
            th ID
            th Category
            th Short Description
          each val in data
            tr
              td=val.id
              td=val.category
              td=val.headline

  footer(class="footer mt-auto py-3")
    div.container
      span.text-muted Footer TODO-->
